@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserratv15/montserrat-v15-latin_cyrillic-regular.eot);
	src: local('☺'), url(../fonts/montserratv15/montserrat-v15-latin_cyrillic-regular.woff2) format('woff2'),
									url(../fonts/montserratv15/montserrat-v15-latin_cyrillic-regular.woff) format('woff'), 
									url(../fonts/montserratv15/montserrat-v15-latin_cyrillic-regular.ttf) format('truetype'), 
									url(../fonts/montserratv15/montserrat-v15-latin_cyrillic-regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Bold.eot);
	src: local('☺'), url(../fonts/montserrat/Montserrat-Bold.woff2) format('woff2'),
									url(../fonts/montserrat/Montserrat-Bold.woff) format('woff'), 
									url(../fonts/montserrat/Montserrat-Bold.ttf) format('truetype'), 
									url(../fonts/montserrat/Montserrat-Bold.svg) format('svg');
	font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialicons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/materialicons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
    url(../fonts/materialicons/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/materialicons/MaterialIcons-Regular.ttf) format('truetype');
}


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #f1f1f1;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.75);
}

body span, button, input {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

.page-area {
	position: relative;
	margin: auto;
	max-width: 1440px;
	width: 100%;
	height: 100%;
	background-color: white;
}

.page-area .content-area, .topbar-area, .footer-area, .copyright-area {
	position: relative;
	width: 100%;
	background-color: white;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.topbar-area {
	height: 70px;
}

.footer-area {
	height: 368px;
}

.copyright-area {
	height: 70px;
	border-top: 1px solid rgb(221, 221, 227);
}
.home-area {
	position: relative;
	width: 100%;
	height: 100%;
}

.home-image {
	width: 100%;
	height: auto;
}

.home-title {
	position: absolute;
	width: 297px;
	height: 48px;
	right: 9.3%;  /* 70.07%; */
	bottom: 2.89%;  /* 91.45%; */
	line-height: 24px;
	text-align: right;
}

/* header style */

.topbar-menu {
	position: absolute;
	left: 36.80%;
	top: 27px;
}

.topbar-menu span {
	position: absolute;
	top: 0;
}

.menu-about {
	left: 0;
	font-weight: bold;
	width:43px;
}

.menu-services {
	left: 63px; 
}

.menu-vacancies {
	left: 157px;
}

.menu-news {
	left: 249px;
}

.menu-agreements  {
	left: 331px; 
}

.menu-login  {
	position: absolute;
	left: 466px;
	top: -8px;
}

.panel-user-name {
	display: none;
	position: absolute;
	left: 467px;
	top: -6px;
	height: 30px;
	border-left: 1px solid rgba(31, 32, 65, 0.1);
}

.user-name {
	position: absolute;
	left: 21px;
	width: 110px;
	margin-top: 6px;
}

.button-border-position {
	position: absolute;
	left: 0;
	top: 0;
	width: 83px;
}

.button-gradient-position {
	position: absolute;
	left: 107px;
	top: -1px;
	width: 192px;
}

.menu-login .button-border-position {
	height: 30px;
}

.menu-login .button-gradient-position {
	height: 30px;
}

.image-logo {
	position: absolute;
	width: 105.69px;
	top: 15px;
	left: 9.7%;
}


/* user login */
.topbar-menu-login .topbar-menu {
	left: 49.44%;
}

.topbar-menu-login .menu-login {
	display: none;
}

.topbar-menu-login .panel-user-name {
	display: block;
}


/* topbar-menu-tworows */
.topbar-menu-tworows {
	height: 110px;
}

.topbar-menu-tworows .topbar-menu {
	left: calc(100% - 470px);
}

.topbar-menu-tworows .menu-login {
	left: 142px;
	top: 30px;
}

.topbar-menu-tworows .panel-user-name {
	left: 0;
	top: 30px;
}

/* topbar-menu-threerows */
.topbar-menu-threerows {
	height: 130px;
}

.topbar-menu-threerows .topbar-menu {
	left: calc(100% - 250px);
}

.topbar-menu-threerows .menu-news {
	left: 0;
	top: 25px;
}

.topbar-menu-threerows .menu-agreements {
	left: 82px;
	top: 25px;
}

.topbar-menu-threerows .menu-login {
	left: -70px;
	top: 55px;
}

.topbar-menu-threerows .panel-user-name {
	left: 0;
	top: 49px;
}

.topbar-menu-threerows .image-logo {
	left: 4%;
}

/* topbar-menu-fourrows */
.topbar-menu-fourrows {
	height: 175px;
}

.topbar-menu-fourrows .topbar-menu {
	left: calc(50% - 110px);
	top: 70px;
}

.topbar-menu-fourrows .menu-news {
	left: 0;
	top: 25px;
}

.topbar-menu-fourrows .menu-agreements {
	left: 82px;
	top: 25px;
}

.topbar-menu-fourrows .menu-login {
	left: -35px;
	top: 56px;
}

.topbar-menu-fourrows .panel-user-name {
	left: 0;
	top: 46px;
}

.topbar-menu-fourrows .image-logo {
	left: calc(50% - 55px);
}



.footer-area * {
	padding: 0;
	margin: 0;
}

.footer-area div, ul {
	position: absolute;
	top: 0;
}

.footer-area .footer-logo {
	left: 9.72%;
	top: 96px;
}

.footer-area .footer-menu {
	left: 30.56%;
	top: 99px;
}

.footer-area ul {
	list-style-type: none;
}

.footer-area li {
	margin-bottom: 21px;
	width: 100%
}

.footer-logo-image {
	position: absolute;
	left: 0;
	top: 0;
}

.footer-logo-text {
	position: absolute;
	left: 0;
	top: 57px;
	width: 260px;
	line-height: 24px;
}

.footer-menu-panel1 {
	left: 0;
}

.footer-menu-navigation {
	left: 0;
	width: 168px;
}

.footer-menu-about {
	left: 200px;
	width: 108px;
}

.footer-menu-panel2 {
	left: 400px;
}

.footer-menu-support {
	left: 0;
	width: 190px;
}

.footer-menu-subs {
	left: 200px;
	width: 260px;
}

.footer-area .footer-email {
	left: 200px;
	top: 105px;
	width: 260px;
	height: 44px;
}

.footer-email:after {
	content: "\e5c8";
	position: absolute;
	top: 10px;
	width: 24px;
	height: 24px;
	right: 10px;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: rgba(31, 32, 65, 0.5);
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-email-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	line-height: 24px;
	padding: 12px;
	padding-left: 15px;
	padding-right: 40px;
}




.footer-area-tworows {
	height: 620px;
}

.footer-area-tworows .footer-menu {
	left: calc(100% - 500px);
}

.footer-area-tworows .footer-menu-panel2 {
	left: 0;
	top: 200px;
}



.footer-area-threerows {
	height: 680px;
}

.footer-area-threerows .footer-menu {
	top: 270px;
	left: 9.72%;
}

.footer-area-threerows .footer-menu-panel2 {
	left: 0;
	top: 200px;
}

.copyright-text {
	position: absolute;
	left: 9.65%;
	top: 27px;
	width: 380px;
}

.copyright-social {
	position: absolute;
	left: 82.43%;
	top: 24px;
	width: 120px;
}

.copyright-social div {
	font-family: "Font Awesome 5 Brands";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 23px;
}

.copyright-social div:before {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.copyright-icon-twitter {
	position: absolute;
	left: 0;
	top: 0;
}

.copyright-icon-facebook {
	position: absolute;
	left: 45px;
	top: 0;
}

.copyright-icon-instagram {
	position: absolute;
	left: 89px;
	top: 0;
}


.copyright-area-tworows {
	height: 80px;
}

.copyright-area-tworows .copyright-text {
	top: 15px;
	left: calc(50% - 188px);
}

.copyright-area-tworows .copyright-social {
	top: 40px;
	left: calc(50% - 60px);
}

.copyright-area-threerows {
	height: 100px;
}

.copyright-area-threerows .copyright-text {
	width: 210px;
	left: calc(50% - 105px);
	top: 15px;
	text-align: center;
}

.copyright-area-threerows .copyright-social {
	top: 60px;
	left: calc(50% - 60px);
}
.form-enter {
	display: none;
	position: absolute;
	width: 380px;
	height: 358px;
	left: calc(50% - 190px);
	top: calc(50% - 170px);
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.form-enter-caption {
	position: absolute;
	width: 320px;
	height: 30px;
	top: 40px;
	left: 30px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1F2041;
}

.form-enter-email {
	position: absolute;
	width: 320px;
	top: 90px;
	left: 30px;
}

.form-enter-pass {
	position: absolute;
	width: 320px;
	top: 144px;
	left: 30px;
}

.form-enter-button {
	position: absolute;
	width: 315px;
	left: 30px;
	top: 208px;
}

.form-enter .form-register-button {
	position: absolute;
	width: 95px;
	left: 250px;
	top: 282px;
}

.form-enter-question  {
	position: absolute;
	width: 164px;
	left: 30px;
	top: 294px;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #000000;
}
.form-reg {
	display: none;
	position: absolute;
	width: 380px;
	height: 646px;
	left: calc(50% - 190px);
	top: calc(50% - 320px);
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.form-reg-caption {
	position: absolute;
	width: 320px;
	height: 30px;
	left: 30px;
	top: 40px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1F2041;
}

.form-reg-name {
	position: absolute;
	width: 320px;
	height: 30px;
	left: 30px;
	top: 90px;
}

.form-reg-surname {
	position: absolute;
	width: 320px;
	height: 30px;
	left: 30px;
	top: 144px;
}

.form-reg-gender-selection {
	position: absolute;
	top: 198px;
	left: 30px;
	height: 21px;
}

.form-reg-gender-selection .form-reg-rb-male {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: 120px;
}

.form-reg-gender-selection .form-reg-rb-female {
	position: absolute;
	top: 0;
	left: 118px;
	height: inherit;
	width: 120px;
}

.form-reg-date-birth-caption {
	position: absolute;
	top: 242px;  
	left: 30px;
	width: 120px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

.form-reg-date-birth {
	position: absolute;
	width: 320px;
	height: 30px;
	left: 30px;
	top: 262px; 
}

.form-reg-login-caption {
	position: absolute;
	top: 326px;  
	left: 30px;
	width: 350px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

.form-reg-login-email {
	position: absolute;
	width: 320px;
	height: 30px;
	left: 30px;
	top: 346px;
}

.form-reg-login-pass {
	position: absolute;
	width: 320px;
	height: 30px;
	left: 30px;
	top: 400px;
}

.form-reg-toggle {
	left: 30px;
	top: 454px;
}

.form-reg-button-payment {
	position: absolute;
	width: 318px;
	left: 30px;
	top: 498px;
}

.form-reg-button-payment {
	width: 316px;
}

.form-reg-question {
	position: absolute;
	top: 584px;  
	left: 30px;
	width: 350px;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
}
 
.form-reg-button-login {
	position: absolute;
	width: 102px;
	left: 243px;
	top: 572px; /* 564 */
}

/* Arrows */

.arrow-down {
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	/* identical to box height */
	display: flex;
	text-align: center;
	/* Dark 50% */
	color: rgba(31, 32, 65, 0.5);
}

.arrow-down:before {
	content: '/e5cf';    /* expand_more */
	position: absolute;
	left: 0;
  top: -1px;
	width: 24px;
	height: 23px;
}

.dropdown-submenu:before {
	content: "\e5cf";
	position: absolute;
	top: -1px;
	width: 24px;
	height: 23px;
	right: -23px;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	color: rgba(31, 32, 65, 0.5);
}

/* Arrows style */
.arrow-base {
	position: absolute;
	top: calc(50% - 12px);
	width: 24px;
	height: 24px;
	right: 10px;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: white;
	line-height: 24px;
	/* display: flex;
	align-items: center;
	text-align: center;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.arrow-base a {
	text-decoration: none;
	color: white;
}

.arrow-forward:before {
	content: "\e5c8";
	position: absolute;
	top: calc(50% - 9px);
	width: 24px;
	height: 24px;
	right: 10px;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: white;
}

/* Buttons style */
.button-container {
	height: 44px ;
}

.button-gradient {
	display: table;
	position: absolute;
	height: 40px ;
	border: none;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) ;
	border-radius: 22px ;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 2px ;
}

.button-gradient .button-gradient-caption {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.button-gradient .button-border-caption {
	background: white;
	border-radius: 22px ;
	color: #BC9CFF;
}

.button-gradient:hover {
	opacity: 0.5;
}

.button-gradient:active {
	background: linear-gradient(180deg, #8BA4F9 100%, #BC9CFF 0%) ;
}

/* Text style */
.text-box {
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	height: 44px ;
	padding: 12px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Radio button */
.radio-button {
	display: table;
	height: 20px ;
}

.radio-button .rb-cyrcle {
	display: table-cell;
	width: calc(20px - 1px);
}

.radio-button .rb-caption {
	display: table-cell;
	padding-left: 9px;
}

.rb-cyrcle {
	position: relative;
	border-radius: 50%;
	background: white;
	border: 1px solid rgba(31, 32, 65, 0.25);
}

.rb-point {
	display: none;
	position: absolute;
	left: 3px ;
	top: 3px ;
	right: 3px ;
	bottom: 3px ;
	border-radius: 50%;
}

.rb-caption {
	text-align: left;
	vertical-align: middle;
}

.rb-checked .rb-cyrcle {
	border: 1px solid #BC9CFF;
}

.rb-checked .rb-point {
	display: block;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) ;
}

/* Toggle */
.toggle-component {
	position: relative;
	width: 40px;
	height: 20px;
	border-radius: 10px;
}

.toggle-switch {
	position: absolute;
	top: 3px;
	bottom: 3px;
	border-radius: 10px;
	width: 12px;
}

.toggle-component-on {
	border: 1px solid #BC9CFF;
}

.toggle-component-on .toggle-switch {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) ;
	right: 3px;
}

.toggle-component-off {
	border: 1px solid rgba(31, 32, 65, 0.25);
}

.toggle-component-off .toggle-switch {
	background: rgba(31, 32, 65, 0.25);
	left: 3px;
}